@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

* {
  scrollbar-width: thin;
  scrollbar-color: oklch(21% 0.006 285.885) transparent;
}

.dark * {
  scrollbar-color: oklch(98.7% 0.022 95.277) transparent;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animate-sway {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes animate-swing {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes animate-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animateGradient {
  animation-name: animate-gradient;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.animateSway {
  animation-name: animate-sway;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.animateSwing {
  animation-name: animate-swing;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animateRotate {
  animation-name: animate-rotate;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
